numpy
setuptools
sentencepiece>=0.1.97
ftfy>=6.1.1
regex>=2022.10.31
tqdm>=4.65.0
pyyaml>=6.0
jieba>=0.42.1
rouge_chinese>=1.0.3
nltk>=2.0
mindpet==1.0.4
mdtex2html
opencv-python-headless
pyarrow==12.0.1
tokenizers==0.15.0
astunparse>=1.6.3