Flask
cryptography
Pillow
attrs
requests
matplotlib
decorator
sympy
tqdm
cytoolz
lazy-import
lmdb
lxml
lz4
msgpack
msgpack_numpy
easydict
pathlib2
unidecode
inflect
pyyaml
jieba
sentencepiece
transformers
protobuf==3.20.1
